</table>
</td></tr>
<tr><td colspan="4" class="sep">&nbsp;</td></tr>
<tr><td colspan="4" class="centered">
<? if ($is_ro == 0) { >
<input type="button" id="btn_save" value="<? echo dict_translate("Save"); >">
<?}>
<input type="button" id="btn_close" value="<? echo dict_translate("Close"); >" onClick="window.close()">
<br><br>
<div class="roundmsg_box">
   <div class="roundmsg_top"><div></div></div>
      <div class="roundmsg_content">
         <? echo dict_translate("msg_cust_scripts_info|Device will be restarted in order for the changes to take effect.") >
      </div>
   <div class="roundmsg_bottom"><div></div></div>
</div>
</td></tr>
</table>
</form>
</body>
</html>
