<div id="warning" style="padding-top: 10px">
<table cellspacing="0" cellpadding="0" id="infotbl" class="errortbl" style="display: block;">
<tr>
<td class="infoleft">&nbsp;</td>
<td class="infocenter" valign="top">
    <div id="info_sec">
    <strong><? echo dict_translate("WARNING"); ></strong>
	<? echo dict_translate("warn_link_security_changed|WEP wireless security is obsolete in Station or Access Point modes."); >
    </div>
</td>
<td class="inforight">&nbsp;</td>
</tr>
</table>
</div>
